@import 'reset';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    background-repeat: no-repeat;
    font-family: Noto Sans, sans-serif;
    background: linear-gradient(45deg, #32a6ff 0%, #3f6fff 49%, #8d54ff 82%);
    background-size: 200%;
    animation: aurora 10s infinite;
}

body,
html,
#__next {
    height: 100%;
}
